<main>
  <ul class="list-users flex-column">
    <% @users.each do |user| %>    
      <li class="list_item-users">
        <%= link_to user_path(user) do %>

          <%= render partial: "user", locals: {user: user} %>
          
        <% end %>
      </li>    
    <% end %> 
  </ul>
</main>
