<ul class="comm-likes flex-row">
  <li><p>Comments: <%= post.comments_counter ? post.comments_counter : 0 %>,</p></li>
  <li><p>Likes: <%= post.likes_counter ? post.likes_counter : 0  %></p></li>  
</ul>
