<div>
  <h4 class="title">Post n° <%= index + 1 %>: <%= post.title %></h4>
  <p class="text"><%= post.text %></p>

  <%= render partial: "comm_like", locals:{post: post, user_id: @user_id, post_id: post.id}  %>

</div>
