<div class="div_list_item-users flex-row">
  <%= image_tag (user.photo), class:"photo_users"%>  
  <div class="inner-div_list_item-users border flex-row">                 
    <h4 class="users_name"><%= user.name %></h4>          
    <p class="posts_count">Number of post: <% if !user.posts_counter then %> <%= 0 %> <%else%> <%=user.posts_counter%><%end%></p>
  </div>
</div>